<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href=".">
</head>
<body>
<h1 id="number1"></h1>
<field>
    <legend>Gửi lời chúc</legend>
    <form action="/admin/category/form" method="post">
        <div>
            wish<input type="text" name="wish">
        </div>
        <div>
            sender<input type="text" name="sender">
        </div>
        <div>
            postcard<input type="text" name="postcard">
        </div>
        <div><input type="submit"></div>
    </form>
</field>
</body>
</html>