<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href=".">
</head>
<body>
    <h1 id="number1">Tao San Pham</h1>
    <form action="/create" method="post">
        <div>
            Name <input type="text" name="name">
        </div>
        <div>
            Thumnail <input type="text" name="thumnail">
        </div>
        <div>
            Price <input type="number" name="price">
        </div>
        <div>
            Description <input type="text" name="description">
        </div>
        <div><input type="submit"></div>
    </form>
</body>
</html>